require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class AccountCompanyLevelApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Management')
    end

    # Get a company account
    def get_company_account(company_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}', company_id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a list of company accounts
    def list_company_accounts(headers: {}, query_params: {})
      endpoint = build_endpoint('/companies')
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a list of merchant accounts
    def list_merchant_accounts(company_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/companies/{companyId}/merchants', company_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
