require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class ClientCertificatesCompanyLevelApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Management')
    end

    # Generate a client certificate 
    def generate_client_certificate(request, company_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/clientCertificates', company_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Retrieve all valid client certificates for this company 
    def list_client_certificates(company_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/clientCertificates', company_id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
