require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class DonationCampaignsApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Management')
    end

    # Create a donation campaign
    def create_donation_campaign(request, company_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/campaignManagement', company_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Delete a donation campaign
    def delete_donation_campaign(company_id, donation_campaign_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/campaignManagement/{donationCampaignId}', company_id, donation_campaign_id)
      
      action = { method: 'delete', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get the donation campaigns for an account holder
    def list_donation_campaigns_for_account_holder(company_id, account_holder_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}', company_id, account_holder_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a list of nonprofits
    def list_nonprofits(request, company_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/companies/{companyId}/nonprofits', company_id)
      endpoint += create_query_string(query_params)
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Update a donation campaign
    def update_donation_campaign(request, company_id, donation_campaign_id, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/campaignManagement/{donationCampaignId}', company_id, donation_campaign_id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Activate or end a donation campaign
    def update_donation_campaign_status(company_id, donation_campaign_id, status, headers: {})
      endpoint = build_endpoint('/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}', company_id, donation_campaign_id, status)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
