require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class TerminalThemesStoreLevelApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Management')
    end

    # Apply a terminal theme
    def apply_terminal_theme_for_store(store_id, id, headers: {})
      endpoint = build_endpoint('/stores/{storeId}/terminalThemes/{id}/apply', store_id, id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Unapply a terminal theme
    def unapply_terminal_theme_for_store(store_id, headers: {})
      endpoint = build_endpoint('/stores/{storeId}/terminalThemes/unapply', store_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
