require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class TerminalThemesTerminalLevelApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Management')
    end

    # Apply a terminal theme
    def apply_terminal_theme_for_terminal(terminal_id, id, headers: {})
      endpoint = build_endpoint('/terminals/{terminalId}/terminalThemes/{id}/apply', terminal_id, id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Unapply a terminal theme
    def unapply_terminal_theme_for_terminal(terminal_id, headers: {})
      endpoint = build_endpoint('/terminals/{terminalId}/terminalThemes/unapply', terminal_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
