require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class BalanceAccountsApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'BalancePlatform')
    end

    # Create a balance account
    def create_balance_account(request, headers: {})
      endpoint = build_endpoint('/balanceAccounts')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Get all transaction rules for a balance account
    def get_all_transaction_rules_for_balance_account(id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{id}/transactionRules', id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a balance account
    def get_balance_account(id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{id}', id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get payment instruments linked to a balance account
    def get_payment_instruments_linked_to_balance_account(id, headers: {}, query_params: {})
      endpoint = build_endpoint('/balanceAccounts/{id}/paymentInstruments', id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Update a balance account
    def update_balance_account(request, id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{id}', id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
