require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class GrantOffersApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'BalancePlatform')
    end

    # Get all available grant offers
    #
    # Deprecated since Configuration API v2
    # Use the `/grantOffers` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grantOffers) instead.
    # @deprecated
    def get_all_available_grant_offers(headers: {}, query_params: {})
      Adyen::Deprecation.warn(:get_all_available_grant_offers, since: 'Configuration API v2', message: 'Use the `/grantOffers` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grantOffers) instead.')
      endpoint = build_endpoint('/grantOffers')
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a grant offer
    #
    # Deprecated since Configuration API v2
    # Use the `/grantOffers/{id}` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grantOffers/(id)) instead.
    # @deprecated
    def get_grant_offer(grant_offer_id, headers: {})
      Adyen::Deprecation.warn(:get_grant_offer, since: 'Configuration API v2', message: 'Use the `/grantOffers/{id}` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grantOffers/(id)) instead.')
      endpoint = build_endpoint('/grantOffers/{grantOfferId}', grant_offer_id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
