require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class ManagedPayoutSchedulesApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'BalancePlatform')
    end

    # Apply a managed payout schedule to a balance account
    def apply_managed_schedule(request, balance_account_id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules', balance_account_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Delete a managed payout schedule on a balance account
    def delete_balance_account_managed_schedule(balance_account_id, id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}', balance_account_id, id)
      
      action = { method: 'delete', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a specific managed payout schedule on a balance account
    def get_balance_account_managed_schedule_by_id(balance_account_id, id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}', balance_account_id, id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get all managed payout schedules on a balance account
    def get_balance_account_managed_schedules(balance_account_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules', balance_account_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a specific managed payout schedule on your balance platform
    def get_balance_platform_managed_schedule_by_id(balance_platform_id, id, headers: {})
      endpoint = build_endpoint('/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}', balance_platform_id, id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get all managed payout schedules on your balance platform
    def get_balance_platform_managed_schedules(balance_platform_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/balancePlatforms/{balancePlatformId}/payoutSchedules', balance_platform_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # View executions of a managed payout schedule
    def get_payout_schedule_executions(balance_account_id, id, headers: {}, query_params: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions', balance_account_id, id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Update a managed payout schedule on a balance account
    def update_balance_account_managed_schedule(request, balance_account_id, id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}', balance_account_id, id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
