require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class RecurringTopUpsApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'BalancePlatform')
    end

    # Create recurring top up
    def create_recurring_top_up(request, balance_account_id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/recurringTopUps', balance_account_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Delete a recurring top up
    def delete_recurring_top_up(balance_account_id, top_up_id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}', balance_account_id, top_up_id)
      
      action = { method: 'delete', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get recurring top ups for a specific balanceAccountId
    def get_recurring_top_ups(balance_account_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/recurringTopUps', balance_account_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Update a RecurringTopUp
    def update_recurring_top_ups(request, balance_account_id, top_up_id, headers: {})
      endpoint = build_endpoint('/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}', balance_account_id, top_up_id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
