require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class SCADeviceManagementApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'BalancePlatform')
    end

    # Begin SCA device registration
    def begin_sca_device_registration(request, headers: {})
      endpoint = build_endpoint('/scaDevices')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Delete an SCA device
    def delete_sca_device(device_id, headers: {})
      endpoint = build_endpoint('/scaDevices/{deviceId}', device_id)
      
      action = { method: 'delete', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Finish registration process for a SCA device
    def finish_sca_device_registration(request, device_id, headers: {})
      endpoint = build_endpoint('/scaDevices/{deviceId}', device_id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Create a new SCA association for a device
    def submit_sca_association(request, device_id, headers: {})
      endpoint = build_endpoint('/scaDevices/{deviceId}/scaAssociations', device_id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
