require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class DocumentsApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'LegalEntityManagement')
    end

    # Delete a document
    def delete_document(id, headers: {})
      endpoint = build_endpoint('/documents/{id}', id)
      
      action = { method: 'delete', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a document
    def get_document(id, headers: {}, query_params: {})
      endpoint = build_endpoint('/documents/{id}', id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Update a document
    def update_document(request, id, headers: {})
      endpoint = build_endpoint('/documents/{id}', id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Upload a document for verification checks
    def upload_document_for_verification_checks(request, headers: {})
      endpoint = build_endpoint('/documents')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
