require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class PaymentLinksApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Checkout')
    end

    # Get a payment link
    def get_payment_link(link_id, headers: {})
      endpoint = build_endpoint('/paymentLinks/{linkId}', link_id)
      
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Create a payment link
    def payment_links(request, headers: {})
      endpoint = build_endpoint('/paymentLinks')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Update the status of a payment link
    def update_payment_link(request, link_id, headers: {})
      endpoint = build_endpoint('/paymentLinks/{linkId}', link_id)
      
      action = { method: 'patch', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
