require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class PaymentsApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Checkout')
    end

    # Get the brands and other details of a card
    def card_details(request, headers: {})
      endpoint = build_endpoint('/cardDetails')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Get the result of a payment session
    def get_result_of_payment_session(session_id, headers: {}, query_params: {})
      endpoint = build_endpoint('/sessions/{sessionId}', session_id)
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

    # Get a list of available payment methods
    def payment_methods(request, headers: {})
      endpoint = build_endpoint('/paymentMethods')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Start a transaction
    def payments(request, headers: {})
      endpoint = build_endpoint('/payments')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Submit details for a payment
    def payments_details(request, headers: {})
      endpoint = build_endpoint('/payments/details')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Create a payment session
    def sessions(request, headers: {})
      endpoint = build_endpoint('/sessions')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
