require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class UtilityApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Checkout')
    end

    # Get an Apple Pay session
    def get_apple_pay_session(request, headers: {})
      endpoint = build_endpoint('/applePay/sessions')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Create originKey values for domains
    #
    # Deprecated since Adyen Checkout API v67
    # @deprecated
    def origin_keys(request, headers: {})
      Adyen::Deprecation.warn(:origin_keys, since: 'Adyen Checkout API v67')
      endpoint = build_endpoint('/originKeys')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Updates the order for PayPal Express Checkout
    def updates_order_for_paypal_express_checkout(request, headers: {})
      endpoint = build_endpoint('/paypal/updateOrder')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Validates shopper Id
    def validate_shopper_id(request, headers: {})
      endpoint = build_endpoint('/validateShopperId')
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

  end
end
