require_relative '../service'
module Adyen

  # NOTE: This class is auto generated by OpenAPI Generator
  # Ref: https://openapi-generator.tech
  #
  # Do not edit the class manually.
  class DynamicOffersApi < Service
    attr_accessor :service, :version

    def initialize(client, version = DEFAULT_VERSION)
      super(client, version, 'Capital')
    end

    # Calculate a preliminary offer for a selected financing amount
    def calculate_preliminary_offer_from_dynamic_offer(request, id, headers: {})
      endpoint = build_endpoint('/dynamicOffers/{id}/calculate', id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Create a static offer for a selected financing amount
    def create_static_offer_from_dynamic_offer(request, id, headers: {})
      endpoint = build_endpoint('/dynamicOffers/{id}/grantOffer', id)
      
      action = { method: 'post', url: endpoint }
      @client.call_adyen_api(@service, action, request, headers, @version)
    end

    # Get all available dynamic offers
    def get_all_dynamic_offers(headers: {}, query_params: {})
      endpoint = build_endpoint('/dynamicOffers')
      endpoint += create_query_string(query_params)
      action = { method: 'get', url: endpoint }
      @client.call_adyen_api(@service, action, {}, headers, @version)
    end

  end
end
